[submodule "postgresql15-ib-source"]
	path = postgresql15-ib-source
	url = https://repo1.dso.mil/dsop/opensource/postgres/postgresql-15/postgresql15.git
[submodule "postgresql15-alpine-source"]
	path = postgresql15-ib-alpine-source
	url = https://repo1.dso.mil/dsop/opensource/postgres/postgresql-15/postgresql15-alpine.git
